.Subheader{
    display: flex;
    /* width: 100%; */
    
    justify-content: space-between;
    margin:60px 0 40px 0;

}

.Buttons
{
    display:flex;
    
    border:2px solid #224569 !important;
    border-radius: 5px;
   
}
.Button{
    
    /* width: 150px; */
    width:fit-content;
    min-width: 160px !important;
    font-size:14px !important;
    border-radius: 0 !important;
    color: #fff !important;
}
.middle{
    border-left:1px solid #224569 !important;
    border-right:1px solid #224569 !important;

}

.form-contents{
    padding:10px;
    margin:5px;
    border-radius: 5px !important;
}
.Customer-Id
{
    height:100%;
    padding:10px;
    flex-grow:0.5;
    border-radius: 5px;
}
.refresh{
    border-radius: 5px!important;
    border: 1px solid #224569 !important;
   padding:0 !important;
}