.TableContainer{
    background:transparent !important;
    
}


.TableContainer table td,.TableContainer table tr
{
   
    background: #193b5a !important;
    color:white !important;
}
.TableContainer table th{
    color:white !important;
}
.sort-col{
    cursor:pointer !important;
    display: flex !important;
}
